
# rlkit
gym
gym[atari]
atari_py
gym_minigrid
matplotlib
# torch
scikit-image
vizdoom
crcmod
cloudpickle==1.3.0
git+https://github.com/Neo-X/rlkit/tree/surprise.git
git+https://github.com/Neo-X/doodad.git

